html {
  font-size: 62.5%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 100%;
}


@media only screen and (max-width: 600px){
  html {
    font-size: 37.5%;
    width: 100%;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 100%;
    
  }

}